## OS
.DS_Store
.idea
.editorconfig
package-lock.json

# Ignored suffix
*.log
*.md
*.svg
*.png
*ignore

## Local
site/vendor
test/index/no-cond-assign/bad.js
test/index/no-irregular-whitespace/bad.js
test/index/no-labels/bad.js
test/react/jsx-fragments/bad.js

## Built-files
.cache
dist
