@import '../node_modules/mobi.css/dist/mobi.css';
@import '../node_modules/mobi-plugin-color/dist/mobi-plugin-color.css';
@import '../node_modules/prismjs/themes/prism-solarizedlight.css';

.site-desc {
    margin: 0.5em 0 0.8em;
}

.site-comment-off,
.site-comment-fixable {
    padding: 0 4px 2px 2px;
}

.site-code {
    max-height: 300px;
    border-radius: 0 !important;
}

.site-code-tag {
    padding: 0 4px 2px;
}