@import '../node_modules/mobi.css/dist/mobi.css';
@import '../node_modules/mobi-plugin-color/dist/mobi-plugin-color.css';
@import './vendor/prism.css';

/* 行样式 */
.site-row-wide {
    margin-left: -15px;
    margin-right: -15px;
}
.site-row-wide > *:first-child {
    padding-left: 15px;
}
.site-row-wide > *:last-child {
    padding-right: 15px;
}
.site-row-off {
    background: url('./assets/off.svg');
}

.site-title {
    display: inline-block;
    margin-right: 1em;
}
.site-languages {
    display: inline-block;
}
.site-language-separator {
    color: #ccc;
    margin: 0 0.2em;
}

/* 表单 */
.site-form > label {
    margin-left: 2em;
}
.site-form > label:first-child {
    margin-left: 0;
}

/* 表格头 */
.site-table-header-text {
    margin: 0.5em 0;
}

/* 规则说明 */
.site-desc {
    margin: 0.5em 0 0.8em;
}
.site-rule-value {
    margin-top: 5px;
    font-size: 14px;
}
.site-rule-value pre {
    margin: 0;
    padding: 0.5em;
}
.site-rule-value pre code {
    font-size: 12px;
}
.site-anchor {
    opacity: 0;
}
.site-desc:hover .site-anchor {
    opacity: 1;
}

/* 代码 */
.site-code {
    border-radius: 0 !important;
}
.site-code-tag {
    padding: 0.1em 0.2em;
}

/* ESLint */
.eslint-error {
    color: inherit;
    padding: inherit;
    background-color: inherit;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 4'%3E%3Cpath fill='none' stroke='%23ff0000' d='M 0 3.5 c 2 0, 2 -3, 4 -3, s 2 3, 4 3, 2 -3, 4 -3, 2 3, 4 3'/%3E%3C/svg%3E");
    background-repeat: repeat-x;
    background-position-y: 100%;
    background-size: 8px 4px;
}
.eslint-error-rule-id {
    color: #ddd;
}
.site-react-tooltip.type-error.place-top::after {
    border-top-color: #db5757;
}
/* .site-react-tooltip {
    border-radius: 0;
    padding-left: 13px;
    padding-right: 13px;
} */
.site-react-tooltip.type-error {
    background-color: #db5757;
}
.site-react-tooltip.show {
    opacity: 1;
}
