@import '../node_modules/mobi.css/dist/mobi.css';
@import '../node_modules/mobi-plugin-color/dist/mobi-plugin-color.css';
@import '../node_modules/prismjs/themes/prism-solarizedlight.css';

/* 行样式 */
.site-row {
    position: relative;
}
.site-row-wide {
    margin-left: -.9375rem;
    margin-right: -.9375rem;
}
.site-row-wide > *:first-child {
    padding-left: 0.9375rem;
}
.site-row-wide > *:last-child {
    padding-right: 0.9375rem;
}
.site-row-off {
    background: url("./off.svg");
}

/* 表单 */
.site-form > label {
    margin-left: 2em;
}
.site-form > label:first-child {
    margin-left: 0;
}

/* 表格头 */
.site-table-header-text {
    margin: 0.5em 0;
}

/* 规则说明 */
.site-desc {
    margin: 0.5em 0 0.8em;
}
.site-comment-off,
.site-comment-fixable {
    padding: 0 0.2em 0.1em 0.1em;
}

/* 代码 */
.site-code {
    max-height: 300px;
    border-radius: 0 !important;
}
.site-code-tag {
    padding: 0.1em 0.2em;
}
